.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
.center {
    position:absolute;
    width:780px;
    height:1350px;
    left:50%;
    top:80%;
    margin-left:-390px;
    margin-top:-325px;
    text-align: center;
    font-family: Anton;
    font-size: 10vw;
    letter-spacing: 20px;
}
.vertical-center {
  font-family: Montserrat;
  position: absolute;
  width:780px;
  height:1350px;
  left:36%;
  top: 30%;
  font-size: 2vw;
  letter-spacing: 20px;
}

.sidenav {
  font-family: Montserrat;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(25, 25, 25, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn{
  font-size:40px;
  font-weight: bold;
  color: black;
  margin-left: 25px;
  cursor: pointer
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.loginBtn button{
  border: 0;
  background: none;
  display: block;
  float: right;
  margin-top: 20px;
  margin-right:  20px;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  cursor: pointer;
  border-radius: 24px;
  outline: none;
}

.loginBtn button:hover{
  background: #2ecc71;
  transition: 0.3s;
}

.loginBtn a{
  text-decoration: none;
  font-size: 15px;
  font-family: Montserrat;
  color: black;
}

